.myEvents {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
}

.myDOMElement {
    position: absolute;
    text-align: center;
    right: 10px;
    top: 20px;
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
}

/*style dividents to be a blue circle*/

.myEvents.dividend {
    background-color: blue;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

/*style news to be a small red square*/

.myEvents.news {
    background-color: red;
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.myEvents.earnings {
    background-color: purple;
    border: 5px solid yellow;
}

/*style to be a brown Rhombus*/

.myEvents.rhombus .shape {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    background-color: yellow;
    border: 2px solid black;
    color: black;
    -webkit-transform: rotate(45deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(45deg);
    /* FF3.5+ */
    -ms-transform: rotate(45deg);
    /* IE9 */
    -o-transform: rotate(45deg);
    /* Opera 10.5 */
    transform: rotate(45deg);
}

.myEvents.rhombus .label {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2px;
    /* offset to center the label */
}

.myEvents.hoverMarker {
    background: url('./svg/down.svg') no-repeat center;
    background-size: 100%;
}

/*  create some rudimentary styling for our tooltip class */

.tooltip {
    display: inline;
    position: relative;
}

.hoverMarker:hover .tooltip:after {
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 30px;
    content: attr(title);
}

.hoverMarker:hover .tooltip:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 11px 6px 0 6px;
    bottom: 20px;
    content: '';
    left: 50%;
    position: absolute;
    z-index: 99;
}

.btn {
    position: absolute;
    text-align: center;
    color: white;
    bottom: 10px;
    right: 10px;
}
