@import "reset.less";


:root {
    body {
        overflow: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE 10+ */
        font-size: 16px;
    }

    body::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    #root {
        width: 100vw;
    }

    // .adm-list-item-content,
    .adm-list-default .adm-list-body {
        border: none;
    }
}